* {
    box-sizing: border-box;
}

body {
    background-color: #515151;
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

/* h1, h2, button, .question-text {
    font-family: 'Press Start 2P', cursive;
} */
button {
    font-family: 'Press Start 2P', cursive;
}

h1, button {
    font-size: 20px;
}

h3, .question-text {
    font-size: 18px;
}

.css-box {
    padding: 10px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    background-color: white;
    margin-bottom: 10px;
}

.ignore {
    font-size: 0px;
    padding: 0px;
}

button {
    font-size: 10px;
    height: 35px;
    padding: 8px;
    background-color: white;
    border-radius: 7px;
}

input[type="radio"] , label {
    display: inline-block;
    vertical-align: middle;
}

input[type="radio"] {
    width: 15px;
}

.grid-item {
    font-size: 16px;
}

.display {
    padding-top: 20px;
    padding-bottom: 20px;
}

.question-correct, .new-high-score {
    color: darkgreen;
}

.question-incorrect {
    color: darkred;
}

.status-elem {
    font-size: 10px;
}

.radio {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.question-feedback {
    font-size: 16px;
}

.question-correct, 
.question-incorrect {
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: 900;
}